@model IEnumerable<Kurs.Models.Car>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr><td>Id</td><td>Model</td></tr>
            @foreach (var wiersz in Model)
            {
                <tr><td>@wiersz.Id</td><td>@wiersz.Brand</td><td>@wiersz.Model</td><td>@wiersz.Prize</td></tr>
            }
        </table>   
    </div>
</body>
</html>
